<!DOCTYPE html>
<html>

<head>
<title>Beetle Auth</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
table {
	width: 400px;
	background-color: #FFFFFF;
	border: 1px solid black;
}
th {
    background-color: #554488;
    color: white;
}
td {
	vertical-align: top;
	text-align: left;
	padding: 8px;
}
body {
	background-color: #F8FAFC;
	font-family: Arial, sans-serif;
}

</style>
</head>

<body>
<div>

<center>

<table>
	<th>
		<h3>{{ title }}</h3>
	</th>
	<tr>
		<td>{{ message }}</td>
	</tr>
</table>

</center>  

</div>  
</body>
</html>